html, body {
    height: 100%;
    background:url(/img/bg2.jpg) no-repeat center top scroll;
    background-size: 100% auto;
    padding-bottom: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#61d9ff;

}

.vcenter {
    vertical-align: middle;
    margin-top:30px;
}

.vcenter2 {
    vertical-align: middle;
    margin-top:10px;
    margin-bottom:10px;
}

#login-nav input { margin-bottom: 15px; }

.btn {
    text-transform: uppercase;
}

.btn-primary {
    background: #0046b2;
}
.btn-primary:hover {
    background: #5cb85c;
}

.btn-custom {
    background-color: #0046b2;
    border-color: #0046b2;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #003c99;
    border-color: #00327f;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #0046b2;
    border-color: #0046b2;
}

.greyColumn{
    background-color: #88bfd2;
    color:#0099cc;
}

.whiteText{
    color:#ffffff;
}
.greyText{
    color:#566064;
}

.topBorders{
    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -khtml-border-radius:10px 10px 0 0;
}

.rtopBorders{
    border-radius:0 10px 0 0;
    -moz-border-radius:0 10px 0 0;
    -khtml-border-radius:0 10px 0 0;
}

.bottomBorders{
    border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    -khtml-border-radius:0 0 10px 10px;
}

.greenColumn{
    background-color: #63d727;
}

.greyTextColumn{
    background-color: #6a8189;
}
#ex13 {
    height: 200px;
}



/** Extra changes **/

.checkbox {
    float: left;
    padding-left: 10px;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #fff;
}